### Miscellaneous
.DS_Store
Thumbs.db

### Homestead
after.sh
aliases
Homestead.yaml
Vagrantfile

### Vagrant
/.vagrant

### Composer
/vendor/
.vscode

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/uploads/
/htdocs/content/plugins/*
!/htdocs/content/plugins/advanced-custom-fields-pro/
/htdocs/content/upgrade/

### Tema: NO ignorar dist para subir archivos compilados
!htdocs/content/themes/meat-theme/dist/
!htdocs/content/themes/meat-theme/dist/**

### Environment Credentials
!.env

# Yarn & npm lockfiles
!yarn.lock
!package-lock.json

# Laravel Mix manifest
public/mix-manifest.json

### Laravel cache & logs
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/framework/*
!storage/framework/.gitignore
storage/logs/*.log

### Sentry config
.sentryclirc
