.bg-color-primary {
  background-color: $primary;
}

.bg-color-primary-light {
  background-color: $primary-light;
}

.bg-color-primary-lighter {
  background-color: $primary-lighter;
}

.bg-color-primary-lightest {
  background-color: $primary-lightest;
}

.bg-color-secondary {
  background-color: $secondary;
}

.bg-color-secondary-light {
  background-color: $secondary-light;
}

.bg-color-secondary-lighter {
  background-color: $secondary-lighter;
}

.bg-color-secondary-lightest {
  background-color: $secondary-lightest;
}

.bg-color-tertiary {
  background-color: $tertiary;
}

.bg-color-tertiary-light {
  background-color: $tertiary-light;
}

.bg-color-tertiary-lighter {
  background-color: $tertiary-lighter;
}

.bg-color-tertiary-lightedt {
  background-color: $tertiary-lightest;
}
