$primary: white;
$primary-light: rgba(white, 0.7);
$primary-lighter: rgba(white, 0.5);
$primary-lightest: rgba(white, 0.3);

$secondary: black;
$secondary-light: rgba(black, 0.7);
$secondary-lighter: rgba(black, 0.5);
$secondary-lightest: rgba(black, 0.3);

$tertiary: red;
$tertiary-light: rgba(red, 0.7);
$tertiary-lighter: rgba(red, 0.5);
$tertiary-lightest: rgba(red, 0.3);
